<html lang="en">
  <head>
  
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Lastest Games App</title>
   
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
   <link rel="stylesheet" type="text/css" href="styles.css">
  

       <script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
       <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
       <script src="javascript.js"></script>
        
  </head>

  <h1> Here are the Personal Computer Games! </h1>

<% @pc_games.each do |game| %>

  <h2> <%= game.title %> </h2>
  <h3> <%= game.rating %> </h3>
   <img src="<%= game.image %>" alt="game">

  <% end %>
