.jumbotron{
  background-image: url("http://1.bp.blogspot.com/-pkhpLVoW5Jg/UAkbucW0peI/AAAAAAAABpI/1DzeYswnYmU/s1600/nintendo+logo+trademark+title+wallpaper+background+game+console+nes+system.jpg");
  background-size: cover;
  height:500px;
}

.thumbnail .thumbpic2{
  height:225px;
}

body{
  background-color: grey;
}

h3, p{
  text-align: center;
}

h1{
  color:blue;
}